.container {
  margin: 0 auto;
  padding-top: 4rem;

  width: 700px;
  height: calc(100vh - 105px);

  a {
    display: inline-block;

    margin: 4rem 0;

    // padding: 4rem 0;

    font-weight: 600;
    color: var(--purple);

    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &:last-child {
      display: inline-block;
    }
  }
}

.articleBlocks {
  h1 {
    color: var(--title-white);

    font-size: 1.75rem; //28px
    font-weight: bold;

    cursor: pointer;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(50%);
    }
  }

  h3 {
    color: var(--gray-200);

    font-size: 1.125rem; //18px

    margin-top: 0.5rem; //8px
  }

  & + section {
    margin-top: 4rem;
  }
}

.infoContent {
  display: flex;
  align-items: center;
  gap: 1rem;

  width: auto;
  height: 1.375rem; //22px

  margin-top: 2rem;

  color: var(--gray-500);

  font-size: 0.875; //14px

  div {
    display: flex;
    gap: 0.5rem;

    i {
      font-size: 1.2rem; //19px
    }
  }
}
