.banner {
  width: 100vw;
  max-height: 25rem; //400px

  object-fit: cover;
}

.container {
  width: 43.75rem; // 700px
  height: auto;

  margin: 4rem auto;

  h1 {
    color: var(--title-white);
    font-weight: 700;

    margin-bottom: 1.5rem;
  }
}

.infoContent {
  display: flex;
  gap: 1.5rem;

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    color: var(--gray-500);

    i {
      display: flex;
      font-size: 1.2rem; //19px
    }
  }
}

.postContent {
  margin-top: 4rem;

  color: var(--gray-200);

  line-height: 1.575rem; // 25.2px
  text-align: justify;
  font-size: 1.125rem; //18px

  a {
    color: inherit;
    text-decoration: none;
  }

  p + p {
    margin-top: 1rem;
  }
}

.divisor {
  opacity: 0.1;
  border: 1px solid var(--gray-200);
  margin: 4rem 0;
}

.navPosts {
  width: 43.75rem;

  display: flex;
  justify-content: space-between;

  div {
    color: var(--title-white);
    font-size: 1.125rem; //18px

    a {
      display: block;
      padding-top: 0.5rem;

      text-decoration: none;

      color: var(--purple);
      font-size: 1rem;
      font-weight: 600;

      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &:first-child {
      flex: 1;
      text-align: left;

      p {
      }
    }

    &:last-child {
      flex: 1;
      text-align: right;
    }
  }
}
